name: Build and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin

      - name: Checkout
        uses: actions/checkout@v3
      - name: install openmp
        run: |
          sudo apt-get update
          sudo apt-get install -y libomp-dev
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22.0"

      - name: Build
        run: make build

      - name: Test
        run: make test

      - name: Lint
        run: make lint

      - name: Install Goveralls
        run: go install github.com/mattn/goveralls@latest

      - name: Send Coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          goveralls -coverprofile=coverage.out -service=github \
            -repotoken ${{ secrets.GITHUB_TOKEN }} \
            -parallel -flagname="unit-tests"
